h1{
    text-align: center;
}
.table{
    width: 100%;
    border: 3px solid #ececec;
}
.table thead tr td{
    background-color: #dbdbdb;
    border-bottom: 2px solid #b3b3b3;
    text-align: center;
}
.table tr td{
    border: 1px solid #b3b3b3;
}
.ta-center{
    text-align: center;
}