@font-face {
    font-family:'Apercu-Pro-Light';
    src: url('../fonts/Apercu-Pro-Light.otf');
}


@font-face {
    font-family:'futurak';
    src: url('../fonts/futurak.ttf');
}

@font-face {
    font-family:'Butler_Light';
    src: url('../fonts/Butler_Light.otf');
}


