body{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}
header{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img{
    max-width: 100%;
    width: 50%;
}
.search{
    width: 50%;
    display: flex;
align-items: center;
}
.search-form{
    border-radius: 100px;
    border: 1px solid #c6c6c6;
    background-color: #f0f0f0;
    width: 90%;
}
.search-form input{
    width: 90%;
padding: 10px;
border: none;
border-radius: 100px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
height: 40px;
}
.search-form button{
    width: 10%;
padding: 10px;
border: none;
background: none;
border-left: 3px solid #e3e3e3;
height: 40px;
}
.fa-microphone{
    background-color: #f0f0f0;
    border: 1px solid #c6c6c6;
    margin-left: 10px;
border-radius: 100%;
padding: 11px 14px;
}
.profile{
    width: 30%;
display: flex;
align-items: center;
justify-content: end;
}
.profile-img{
    border-radius: 100%;
width: 42px;
}
i.fa{
    font-size: 18px;
}
.fa-bell{
border: 1px solid #c6c6c6;
border-radius: 100%;
padding: 11px 11px;
margin: 0px 20px;
}
.fa-video-camera{
    
border: 1px solid #c6c6c6;
border-radius: 100%;
padding: 11px 11px;
}
.fa-bell:hover, .fa-video-camera:hover{
    background-color: #f0f0f0;
}
.Videos{
    display: flex;
    align-items: center;
}
.Videos-Iframe{
    margin: 10px;
}
.Videos-Iframe iframe{
    max-width: 100%;
    border-radius: 10px;
}
.Youtube-Videos{
    margin: 50px 0px;
}